#searchBar {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

#searchBtn {
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-inline-item {
  background: #336b87;
  border: none;
  border-radius: 26px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 17px;
  font-weight: 200;
  letter-spacing: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  -moz-box-shadow: 0px 6px 18px -7px black;
  -webkit-box-shadow: 0px 6px 18px -7px black;
  box-shadow: 0px 6px 18px -7px black;
  padding: 5px 20px;
}

#seeAllBtn {
  background: #336b87;
  border: none;
  border-radius: 26px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 17px;
  font-weight: 200;
  letter-spacing: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  -moz-box-shadow: 0px 6px 18px -7px black;
  -webkit-box-shadow: 0px 6px 18px -7px black;
  box-shadow: 0px 6px 18px -7px black;
  padding: 5px 20px;
  outline: none;
}
